input[readonly] {
    background-color: #fff !important;
}

.passwordvisibility{
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.passwordvisibility img{
    width: 25px;
}