<div class="row d-flex justify-content-around align-items-center">
    <div class="col-md-4">
        <div class="card card-stats mb-4 mb-xl-0 p-3" >
            <div class="card-body2" style="cursor: pointer">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                            Total Q & A
                        </h5>
                        <span class="h2 font-weight-bold mb-0" style="font-size: 25px; color: #001631;">
                            {{dashdata?.totalquestion}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                      <i class="fa-solid fa-file-lines" style="color: var(--p-primary-500);font-size: 2rem;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-stats mb-4 mb-xl-0 p-3 w-250" >
            <div class="card-body2" style="cursor: pointer">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                            Total reviewed
                        </h5>
                        <span class="h2 font-weight-bold mb-0" style="font-size: 25px; color: #001631;">
                            {{dashdata?.reviewquestion}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <i class="fa-solid fa-file-lines" style="color: var(--p-primary-500);font-size: 2rem;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-stats mb-4 mb-xl-0 p-3 w-250" >
            <div class="card-body2" style="cursor: pointer">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                            Total Non reviewed
                        </h5>
                        <span class="h2 font-weight-bold mb-0" style="font-size: 25px; color: #001631;">
                            {{dashdata?.nonreviewquestion}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <i class="fa-solid fa-file-lines" style="color: var(--p-primary-500);font-size: 2rem;"></i>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <div class="card card-stats mb-4 mb-xl-0 p-3 w-250" >
            <div class="card-body2" style="cursor: pointer">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                            Total Users Registered
                        </h5>
                        <span class="h2 font-weight-bold mb-0" style="font-size: 25px; color: #001631;">
                            {{dashdata?.registeredusers}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <i class="fa-solid fa-file-lines" style="color: var(--p-primary-500);font-size: 2rem;"></i>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="col-md-4">
        <div class="card card-stats mb-4 mb-xl-0 p-3 w-250" >
            <div class="card-body2" style="cursor: pointer">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                            Suggested
                        </h5>
                        <span class="h2 font-weight-bold mb-0" style="font-size: 25px; color: #001631;">
                            {{dashdata?.suggestedquestion}}
                        </span>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <i class="fa-solid fa-file-lines" style="color: var(--p-primary-500);font-size: 2rem;"></i>
                    </div>
                </div>
            </div>
        </div>       
    </div> 
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <h5 class="p-3 text-center">Why it is Important to Review ?</h5>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="p-3 text-center">How does it impact UNIPREP?</h5>
        </div>
    </div>
</div>
