.active-sts-badge {
    position: absolute;
    right: 7px;
    top: 7px;
}

.no-image {
    height: 100px;
    border-radius: 15px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 40px;
        color: white;
    }
}