// .mt-30{
//     margin-top:30px;
// }
// .pt-10{
//     padding:10px;
// }
// .w-350{
//     width: 350px;
// }
// .border-black{
//     border: none;
// }
// .paddingfive{
//     padding: 1px;
// }
.border-cell {
    border: 1px solid #ccc;
    padding: 8px;
    border-width:1px !important;
  }