.row-details {
  padding: 10px;
  background-color: #fff;
}
.expand-icon {
  cursor: pointer;
  margin-right: 5px;
}

.custom-icon {
  background-color: var(--p-primary-500);
  color: #fff;
  border-radius: 50%;
  padding: 4px;
}

::ng-deep .p-confirm-dialog-icon {
  margin: 1rem !important;
}
