<div class="card my-2 h-100">
	<div class="card-header d-flex w-full align-items-center justify-content-between">
		<h4 class="bold-text">Modules Quiz</h4>
	</div>
	<div class="card-body">
		<!-- card list -->
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="container-fluid p-4" style="text-align: center">
						<h5 style="font-size: 20px">Pre Admission</h5>
						<div>
							<img width="70" src="../../../../assets/images/preadmission.png" alt="" />
						</div>
						<div class="p-1 mt-1" style="text-align: center">
							<button (click)="preAdmission()" class="ps-4 pe-4 pt-2 pb-2" pButton style="background-color: var(--p-primary-500); border-radius: 8px; border: aliceblue; color: #fff; font-size: 13px; width: -webkit-fill-available">Add Questions &nbsp;</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="container-fluid p-4" style="text-align: center">
						<h5 style="font-size: 20px">Post Admission</h5>
						<div>
							<img width="70" src="../../../../assets/images/postadmission.png" alt="" />
						</div>
						<div class="p-1 mt-1" style="text-align: center">
							<button (click)="postadmission()" class="ps-4 pe-4 pt-2 pb-2" pButton style="background-color: var(--p-primary-500); border-radius: 8px; border: aliceblue; color: #fff; font-size: 13px; width: -webkit-fill-available">Add Questions &nbsp;</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="container-fluid p-4" style="text-align: center">
						<h5 style="font-size: 20px">Life At United Kindom</h5>
						<div>
							<img width="70" src="../../../../assets/images/lifeat.png" alt="" />
						</div>
						<div class="p-1 mt-1" style="text-align: center">
							<button (click)="lifefeat()" class="ps-4 pe-4 pt-2 pb-2" pButton style="background-color: var(--p-primary-500); border-radius: 8px; border: aliceblue; color: #fff; font-size: 13px; width: -webkit-fill-available">Add Questions &nbsp;</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="container-fluid p-4" style="text-align: center">
						<h5 style="font-size: 20px">Career Hub</h5>
						<div>
							<img width="70" src="../../../../assets/images/careerhub.png" alt="" />
						</div>
						<div class="p-1 mt-1" style="text-align: center">
							<button (click)="careerhub()" class="ps-4 pe-4 pt-2 pb-2" pButton style="background-color: var(--p-primary-500); border-radius: 8px; border: aliceblue; color: #fff; font-size: 13px; width: -webkit-fill-available">Add Questions &nbsp;</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
