
.upload-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: var(--p-primary-500);
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.gallery-item {
  aspect-ratio: 4/2;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.gallery-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}