nav{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    //box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
    .p-breadcrumb {
        padding: 0px;
        display: inline-block;
        background-color: unset;
        border-width: 0px;
        font-size: .8rem;
        * :focus {
            box-shadow: none !important;
            outline: unset !important;
            outline-offset: 0px !important;
        }
    }
    .p-breadcrumb-chevron {
        font-size: .7rem;
    }
    .page-title {
        font-size: 1rem;
    }
    .right-panel {
        display: flex;
        align-items: center;
    }
}
.header-navigation-actions {
	display: flex;
	align-items: center;
	& > .avatar {
		margin-left: 0.75rem;
	}
	& > .icon-button + .icon-button {
		margin-left: 1rem;
	}

	& > .button + .icon-button {
		margin-left: 1rem;
	}
}
.button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	height: 40px;
	border-radius: 8px;
	line-height: 1;
	border: 2px solid var(--c-border-primary);
	color: var(--c-text-action);
	font-size: 0.875rem;
	transition: 0.15s ease;
	background-color: var(--c-background-primary);

	i {
		margin-right: 0.5rem;
		font-size: 1.25em;
	}

	span {
		font-weight: 500;
	}

	&:hover,
	&:focus {
		border-color: var(--c-accent-primary);
		color: var(--c-accent-primary);
	}
}

.icon-button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	color: #001631;
    background-color: var(--p-primary-200);
    border:2px solid var(--p-primary-200);
	transition: 0.15s ease;
	i {
		font-size: 1.25em;
	}

	&:focus,
	&:hover {
		background-color: #fff;
        border:2px solid var(--p-primary-200);
		color: #001631;
	}
}
.notification-dot
{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    right: -5px;
    top: -5px;
    background: var(--p-primary-500);
}
.avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;
    img
    {
        width:100%;
    }
}
.dropdown-item
{
    font-size: 0.9em;
}
.dropdown-item.active, .dropdown-item:active
{
    background-color:var(--p-primary-500);
}
.nme {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 8px;
	color: #001631;
	background-color: var(--p-primary-200);
	border: 2px solid var(--p-primary-200);
	text-align: center;
	margin-right: 10px;
	font-weight: 700 !important;
    font-size: 1.2rem;
}
.form-group{
	position: relative;
}