.paddingfive{
    padding: 0px;
}
p-multiselect
{
    padding:0 !important;
}
.btn-green{
    // padding: 10px 15px;
    color:white;
    background-color: var(--p-primary-500);
    text-align: center;
    font-size: .9rem;
    border-radius: 5px;
}
.block-hoder{
    background-color: white;
    width: 200px;
    border-radius: 10px;

}
.mt-20{
    margin-top:20px;
}
.pt-10{
    padding:10px;
}
.w-250{
    width: 250px;
}