.table-employer ::ng-deep .p-datatable .p-datatable-header{padding-bottom:0 !important;padding-left:0;}
.btn-danger{background-color:#dc3545;border-color:#dc3545;color:white;}
.font-medium{font-weight:600;}
.flex-gap{display:flex;justify-content:flex-end;gap:15px;}