<p-accordion styleClass="white-accordian" value="{{activeIndex}}">
	<p-accordion-panel value="1">
		<p-accordion-header>{{ collegeId ? "Edit College" : "Add College" }}</p-accordion-header
		><p-accordion-content>
			<form [formGroup]="form" (ngSubmit)="submitForm()" #formElm>
				<div class="row">
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Name</label>
							<input type="text" formControlName="name" class="form-control" pInputText />
							<div *ngIf="submitted && f.name.errors" class="text-danger text-xs">
								<div *ngIf="f.name.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Address</label>
							<input type="text" formControlName="address" class="form-control" pInputText />
							<div *ngIf="submitted && f.address.errors" class="text-danger text-xs">
								<div *ngIf="f.address.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Location</label>
							<p-select formControlName="location" optionValue="id" optionLabel="state" styleClass="w-full" [options]="locationList" placeholder="Location" [filter]="true" filterBy="state,district">
								<ng-template let-data pTemplate="item">
									<div>{{ data.state }} - {{ data.district }}</div>
								</ng-template>
								<ng-template pTemplate="selectedItem" let-selectedOption> {{ selectedOption.state }} - {{ selectedOption.district }} </ng-template></p-select
							>
							<div *ngIf="submitted && f.location.errors" class="text-danger text-xs">
								<div *ngIf="f.location.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Pincode</label>
							<input type="text" formControlName="pincode" class="form-control" pInputText />
							<div *ngIf="submitted && f.pincode.errors" class="text-danger text-xs">
								<div *ngIf="f.pincode.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Contribution Status</label>
							<p-select formControlName="contribution_status" optionValue="id" optionLabel="status" styleClass="w-full" [options]="contributionStatusList" placeholder="Status"> </p-select>
							<div *ngIf="submitted && f.contribution_status.errors" class="text-danger text-xs">
								<div *ngIf="f.contribution_status.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Total Student</label>
							<input type="number" [min]="1" formControlName="total_student" class="form-control" pInputText />
							<div *ngIf="submitted && f.total_student.errors" class="text-danger text-xs">
								<div *ngIf="f.total_student.errors.required">Required</div>
								<div *ngIf="f.total_student.errors.min">Must be at least 1</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Education level</label>
							<p-select formControlName="type" optionValue="id" optionLabel="type" styleClass="w-full" [options]="educationTypeList" placeholder="Education level"> </p-select>
							<div *ngIf="submitted && f.type.errors" class="text-danger text-xs">
								<div *ngIf="f.type.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>College Type</label>
							<p-select formControlName="college_type" optionValue="name" optionLabel="name" styleClass="w-full" [options]="collegeTypeList" placeholder="College Type"> </p-select>
							<div *ngIf="submitted && f.college_type.errors" class="text-danger text-xs">
								<div *ngIf="f.college_type.errors.required">Required</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Link College form Marketing Management</label>
							<p-select formControlName="marketing_management_id" optionValue="id" optionLabel="institutename" styleClass="w-full" [options]="contributionforCollegeList" placeholder="Select College" [filter]="true"> </p-select>
							<div *ngIf="submitted && f.marketing_management_id.errors" class="text-danger text-xs">
								<div *ngIf="f.marketing_management_id.errors.required">Required</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12 text-right">
						<button class="btn btn-primary" pButton type="submit">
							{{ collegeId ? "Update College" : "Add College" }}
						</button>
					</div>
				</div>
			</form>
		</p-accordion-content>
	</p-accordion-panel>
</p-accordion>

<!-- filter-->
<p-accordion value="0"styleClass="white-accordian">
	<p-accordion-panel value="1">
						<p-accordion-header>Filter By</p-accordion-header>
		<p-accordion-content>
			<form [formGroup]="filterForm" (ngSubmit)="submitFilterForm()" #filterFormElm>
				<div class="row">
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Name</label>
							<input type="text" formControlName="name" class="form-control" pInputText />
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>State</label>
							<p-select formControlName="state" optionLabel="state" styleClass="w-full" [options]="regionList" placeholder="Select" [filter]="true" [showClear]="true"> </p-select>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>City</label>
							<p-select formControlName="location" optionValue="id" optionLabel="district" styleClass="w-full" [options]="locationLists" placeholder="Select" [filter]="true" [showClear]="true"> </p-select>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Pincode</label>
							<input type="text" formControlName="pincode" class="form-control" pInputText />
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Constributor Status</label>
							<p-select formControlName="contribution_status" optionValue="id" optionLabel="status" styleClass="w-full" [options]="contributionStatusList" placeholder="Select" [showClear]="true"> </p-select>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Total Students</label>
							<p-select formControlName="total_student" optionValue="value" optionLabel="value" styleClass="w-full" [options]="filterTotalStudentList" [filter]="true" [showClear]="true" placeholder="Select"></p-select>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Education level</label>
							<p-select formControlName="type" optionValue="id" optionLabel="type" styleClass="w-full" [options]="educationTypeList" placeholder="Select" [showClear]="true"> </p-select>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Status</label>
							<p-select formControlName="status" optionValue="id" optionLabel="status" styleClass="w-full" [options]="filterStatusList" placeholder="Select" [showClear]="true"> </p-select>
						</div>
					</div>
					<div class="col-md-3 mb-2">
						<div class="form-group">
							<label>Profile Completion</label>
							<p-select formControlName="profile_completion" optionValue="id" optionLabel="name" styleClass="w-full" [options]="filterProfileCompletionList" placeholder="Select" [showClear]="true"> </p-select>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12 text-right">
						<button class="btn btn-primary" type="button" (click)="resetFilter()">Reset Filter</button>
						<button class="btn btn-primary" type="submit">Filter Data</button>
					</div>
				</div>
			</form>
		</p-accordion-content>
	</p-accordion-panel>
</p-accordion>

<!--View Colleges-->
<div class="card">
	<div class="row">
		<div class="d-flex col-sm-5 col-md-6 justify-content-between">
			<div class="d-flex align-items-center">
				<div class="d-flex flex-column px-2">
					<span style="font-size: 20px">Colleges</span>
					<span class="text-xs" style="color: rgb(205, 203, 203)">Total Count:{{ contributorClgCount }}</span>
				</div>
			</div>
		</div>
		<div class="d-flex col-sm-5 col-md-6 justify-content-end">
			<div class="p-2 d-flex gap-2">
				<button class="btn btn-primary" (click)="importContributior()">Import &nbsp; <i class="pi pi-file-export"></i></button>
				<button class="btn btn-primary" (click)="exportContributorsColleges()">Export &nbsp; <i class="pi pi-file-export"></i></button>
			</div>
		</div>
	</div>
	<div class="mb-2">
		<div class="row p-2">
			<div *ngFor="let item of contributionsCollegeList" class="col-12 col-md-3 col-lg-3 mb-2">
				<div class="card shadow-sm">
					<div class="position-relative p-2">
						<span class="p-badge text-xs active-sts-badge" [ngClass]="item.status ? ' sts-success-color' : 'p-badge-danger'">
							{{ item.status ? "Card Active" : "Card Inactive" }}
						</span>
						<img *ngIf="item.image_name; else noImage" [src]="item.image_name" alt="Profile background" class="card-img-top" style="height: 100px; object-fit: cover" />
						<ng-template #noImage>
							<div class="no-image">
								<i class="fa fa-solid fa-image-slash"></i>
							</div>
						</ng-template>
					</div>
					<div class="card-body pt-2 mt-1">
						<div class="mb-2 d-flex justify-content-between align-items-center">
							<span class="p-badge text-xs" [ngClass]="item.contribution_status ? 'contribution-color' : 'p-badge-danger'">
								{{ item.contribution_status ? "Completed" : "Yet to Complete" }}
							</span>
							<span class="text-xs"> Profile Completion: {{ item.profile_completion }}% </span>
						</div>
						<h5 class="card-title mb-1">{{ item.name }}</h5>
						<p class="text-muted small mb-3">{{ item.location }} - {{ item.pincode }}</p>
						<div class="d-flex align-items-center mb-3">
							<i class="fa-solid fa-user-graduate me-2" style="font-size: 30px; color: #65d3a9"></i>
							<div>
								<div class="small text-muted">Total Students</div>
								<div class="fw-bold">{{ item.total_student }}</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<button pButton type="button" label="Edit" class="btn btn-primary m-0" (click)="editCollege(item)"></button>
							<button pButton type="button" label="College Page" class="btn btn-teritary m-0" [routerLink]="['/contributors/college', item.id]"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w-100 d-flex justify-content-end" style="text-align: right">
			<p-paginator (onPageChange)="pageChange($event)" [rows]="pageSize" [totalRecords]="contributorClgCount" [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>
		</div>
	</div>
</div>

<p-dialog header="" [(visible)]="isCollegeImport" [modal]="true" [style]="{ width: '50vw' }" (onHide)="closeModal()">
	<div>
		<label for="file" class="reading-drop-container">
			<i class="pi pi-upload reading-drop-title"></i>
			<input type="file" id="file" class="d-none" (change)="onFileChange($event)" (click)="$event['target']['value'] = ''" accept=".csv" /><br />
			<div class="reading-sm-font" *ngIf="selectedFile?.name">{{ selectedFile.name }}</div>
			<div *ngIf="!selectedFile?.name" class="d-flex flex-column gap-1 text-center">
				<span class="reading-sm-font">Only .csv file formats are supported for uploads</span>
				<span class="reading-sm-font">Please maintain the format of uploading to stop failures</span>
			</div> </label
		><br />
		<div class="text-center">
			<button class="btn btn-primary" (click)="uploadFile()"><i class="fa-solid fa-upload"></i> Upload</button>
			<a [href]="sampleDoc">
				<button class="btn btn-primary"><i class="fa-solid fa-download"></i> Download Sample Doc</button>
			</a>
		</div>
	</div>
</p-dialog>
