<p-accordion>
	<p-accordion-panel value="1">
		<p-accordion-header>Filter Sub-Category</p-accordion-header>
		<p-accordion-content>
			<div class="row d-flex justify-content-between align-items-center">
				<div style="width: 25%">
					<label class="form-label">Status</label>
					<div class="input-group mb-3">
						<select type="date" [(ngModel)]="reviewValue" class="form-control border-black paddingfive">
							<option value="1" selected>Reviewed</option>
							<option value="0">Not Reviewed</option>
						</select>
					</div>
				</div>
				<a class="btn btn-primary" style="width: 10%" (click)="filterStatus()">Filter</a>
			</div>
		</p-accordion-content>
	</p-accordion-panel>
</p-accordion>
<div class="card d-flex justify-content-end mt-5">
	<div class="card-header d-flex justify-content-between">
		<div class="d-flex">
			<div class="d-flex flex-column mt-2">
				<h5>{{ questions.ModuleName }} - {{ questions.SubmoduleName }}</h5>
				<small>Total Questions : {{ questions.QuestionCount }}</small>
			</div>
		</div>
		<div>
			<a class="btn btn-primary" (click)="addSuggestionPage()">Add Question Suggestion</a>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-3 mb-2 mt-2" *ngFor="let question of questions.Data; let i = index">
				<div class="card h-100">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="card-question fw-semibold">Question {{ question.id }}</p>
							<p class="text-justified text-justified">
								{{ question.question }}
							</p>
						</div>

						<div class="d-flex justify-content-center align-items-center">
							<a class="btn btn-primary w-full" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showDialog(question.id)" *ngIf="question.reviewed == 0">Review</a>
							<a class="btn btn-danger w-full" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showDialog(question.id)" *ngIf="question.reviewed == 1">Reviewed</a>
							<!-- <a class="btn btn-primary w-full" *ngIf="question.reviewed != 0999; else elseBlock" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getQuestion(2)">Review</a>
                            <ng-template  #elseBlock > <a class="btn btn-danger w-full">Review</a></ng-template> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<p-paginator [rows]="10" [totalRecords]="totalcount" (onPageChange)="paginate($event)"></p-paginator>
		<!-- <div class="d-flex justify-content-end align-items-center ">
            <p class="mb-0 me-2">Entries Per Page</p>
            <select class="rounded-2">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div> -->
	</div>
</div>

<!-- <button type="button" (click)="showDialog(108)" icon="pi pi-info-circle" label="Show">aaaahhhh</button> -->
<p-dialog header="{{ modulename }}" [(visible)]="display" [modal]="true" [style]="{ width: '65vw' }">
	<small>Question</small>
	<h5 class="">
		{{ siglequestion?.question }}
	</h5>
	<small>Answer</small>
	<p>
		{{ siglequestion?.answer }}
	</p>
	<div class="row">
		<div class="col-md-6" style="display: flex">
			<!-- <iframe width="160" height="90" style="margin: 5px;" src="https://www.youtube.com/embed/dBR-3MXND5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="160" height="90" style="margin: 5px;" src="https://www.youtube.com/embed/dBR-3MXND5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="160" height="90" style="margin: 5px;" src="https://www.youtube.com/embed/dBR-3MXND5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
		</div>
		<div class="col-md-6" style="display: flex">
			<!-- <iframe width="160" height="90" style="margin: 5px;" src="https://www.youtube.com/embed/dBR-3MXND5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="160" height="90" style="margin: 5px;" src="https://www.youtube.com/embed/dBR-3MXND5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="160" height="90" style="margin: 5px;" src="https://www.youtube.com/embed/dBR-3MXND5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
		</div>
	</div>
	<form [formGroup]="reviewform" (ngSubmit)="postData(reviewform)">
		<div class="row d-flex justify-content-between align-items-center">
			<div style="width: 70%">
				<textarea class="form-control" formControlName="suggestion" placeholder="Suggest any changes in the content or leave it blank and mark verified." rows="4"></textarea>
			</div>
			<div style="width: 30%">
				<div class="form-group">
					<label>Review Status</label>
					<select class="form-control" formControlName="status">
						<option value="1">Reviewed</option>
						<option value="2">Suggested</option>
					</select>
					<input type="submit" class="btn btn-primary" style="width: 100%" value="Submit" />
				</div>
			</div>
		</div>
	</form>
</p-dialog>
