.filebtndiv {
    float: right;
    button {
      i {
        margin-left: 0.5rem;
      }
    }
}

.custom-calendar .p-calendar .p-inputtext {
  /* Add your custom styling here */
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}