.table-employer ::ng-deep .p-datatable .p-datatable-header {
    padding-bottom: 0px !important;
    padding-left: 0px;
}

  /* Button styling */
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
  }