<div class="row">
    <div class="col-4">
        <div class="col-xl-12 col-lg-12 mt-3">
            <div class="card card-stats mb-4 mb-xl-0 ">
                <div class="card-body2">
                    <div class="row">
                        <div class="col">
                            <div class="card-body2 p-3">
                                <div class="row">
                                    <div class="col">
                                        <span  (click)="redirecttoticketlist()" class="h2 font-weight-bold mb-0" style="font-size: 20px; color: #001631; cursor: pointer;">
                                          <span><i class="fa-solid fa-chevron-left"></i></span>  Tickets
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <span style="font-size: 15px;">Archive</span><span class="ms-1"><i class="fa-solid fa-chevron-right"></i></span>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
                                      [(ngModel)]="searchText" placeholder="Enter text to search" 
                                      autofocus>
                                  </div>
                        </div>
                            <hr>
                            <div class="card-body2 p-3">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0" style="font-size: 15px; color: #001631;">
                                            Amarnath Embranthiri
                                        </span>
                                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                                            amarnathembranthiri&#64;gmail.com
                                        </h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="card p-1" style="background-color: var(--p-primary-500);color: #fff; font-size: 9px;">
                                            <span  class="ps-2 pe-2">03/03</span>
                                        </div>
                                        <span style="font-size: 10px;">10:20 AM</span>
                                    </div>
                                </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="col-4">
        <div class="col-xl-12 col-lg-12 mt-3">
            <div class="card card-stats mb-4 mb-xl-0 ">
                <div class="card-body2">
                    <div class="row">
                        <div class="col" style="min-height: 666px;">
                            <div class="card-body2 p-3">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0" style="font-size: 15px; color: #001631;">
                                            Amarnath Embranthiri
                                        </span>
                                        <h5 class="card-title  text-muted mb-0" style="font-size: 15px;">
                                            amarnathembranthiri&#64;gmail.com <br>
                                            <span>9900920637</span>
                                        </h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="card p-1" style="background-color: #E60000;color: #fff; font-size: 10px;">
                                            <span class="ps-3 pe-3">High</span>
                                        </div>
                                    </div>

                                    <h4 class="mt-3" style="font-size: 15px;">User ID</h4>
                                    <span style="font-size: 13px;">#150326</span>
                                    <h4 class="mt-3" style="font-size: 15px;">Subscription Plan</h4>
                                    <span style="font-size: 13px;">Basic Plan</span>
                                    <h4 class="mt-3" style="font-size: 15px;">Ticket No.</h4>
                                    <span style="font-size: 13px;">#00001</span>
                                    <h4 class="mt-3" style="font-size: 15px;">Ticket Date</h4>
                                    <span style="font-size: 13px;">21/03/2023 at 10:50 PM</span>
                                    <h4 class="mt-3" style="font-size: 15px;">Ticket Category</h4>
                                    <span style="font-size: 13px;">Failed Subscription Payment</span>
                                    <h4 class="mt-3" style="font-size: 15px;">Ticket Message</h4>
                                    <p style="font-size: 13px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                         eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                                         At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
                                         takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur 
                                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                                         labore et dolore magna aliquyam erat, sed diam
                                        </p>
                                </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- chating module -->
    <div class="col-4">
        <div class="col-xl-12 col-lg-12 mt-3">
            <div class="card card-stats mb-4 mb-xl-0 " >
                <div class="card-body2">
                    <div class="row">
                        <div class="col" style="min-height: 666px;">
                            <div class="card-body2 p-3">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0" style="font-size: 18px; color: #001631;">
                                            Amarnath Embranthiri
                                        </span>
                                        <h5 class="card-title  text-muted mb-0 mt-2" style="font-size: 10px;">
                                            User is typing...
                                        </h5>
                                    </div>
                                </div>
                        </div>
                    <hr>
                    <div class="p-2" style="height: 300px; overflow-y: scroll;" >
                        <div class="chat-container text-right" style="line-height: 65px;">
                            <div *ngFor="let message of messages" style="line-height: 30px; " class="mt-3">
                                <span><b>You</b> <span class="ms-2" style="background-color: #5AD2D6; border: 0px solid; border-radius: 50%; padding: 10px;"><i class="fa-solid fa-y"></i></span></span>
                                <div  style="background-color: #F1F1F1; border: 0px solid; border-radius: 10px 0px 10px 10px;" class="message mt-2"><span class="p-2">{{ message }}</span></div>
    
                            </div>
                          </div>
                        </div>
                        <hr>
  
                        <div class="p-2">
                            <label>Ticket Status</label>
                            <p-select [(ngModel)]="usertype" formControlName="usertype" placeholder="Select the update status" optionValue="id" optionLabel="name" styleClass="w-full"></p-select>
                        </div>
                          <!-- <div class="input-container">
                            <input [(ngModel)]="newMessage" placeholder="Type your message...">
                            <button (click)="sendMessage()">Send</button>
                          </div> -->
                          <div class="p-2">
                            <textarea style="height: 100px;" [(ngModel)]="newMessage" placeholder="Type your message..." type="text" class="form-control" pInputText></textarea>
                            <button class="ps-4 pe-4 pt-1 pb-1 mt-2" pButton style="background-color: var(--p-primary-500);border-radius: 8px; border: aliceblue; color: #fff; float: right;" (click)="sendMessage()">Submit</button>
                        </div>                                                 
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>